div{
    background-color: burlywood;
    width: 500px;
    width: 300px;
    text-align: justify;
}
img{
    width: 60%;
    padding: 10px;
    border: 4px solid white;
    margin: 20px;
    
}
h1{ padding: 10;
    border: 5px solid blue;
margin: 40px;
}
p{
    text-align: justify;
}
p{}
H1{
    text-align: center;
}